*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*uber button*/

.uber-button{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-left:10px ;
    margin-top: 10px;
    transition: 1s;
}
.uber-button:hover{
    opacity: 0.8;
}

/*amazon button*/
.amazon-button{
    background-color: rgb(255,216,20);
    padding: 8px 45px ;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    margin-left:10px ;
    transition: 1.2s;
}

.amazon-button:hover{
    background-color: rgb(207, 173, 0);
}
/*Github button*/

.github-button{
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(46, 164, 79);
    border: none;
    border-radius: 10px;
    margin-left:10px ;
    font-weight: bold;
    transition: 1s;
}

.github-button:hover{
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.298) ;
}

/*Bootstrap button*/

.bootstrap-button{
    background-color: rgb(121, 82, 179);
    color:white ;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left:10px ;
    margin-top: 10px;
}
.bootstrap-button:hover{
    background-color: rgb(54, 31, 87);
}

.bootstrap-button2{
    background-color: white;
    color: rgb(108, 117, 125);
    padding:10px 20px;
    margin-left: 10px;
    border:1px solid rgb(108, 117, 125);
    border-radius: 5px
}
.bootstrap-button2:hover{
    background-color: rgb(108, 117, 125);
    color: white;
}

/*linkedin button*/

.link-button{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgb(10, 102, 194);
    color: white;
    border:none;
    border-radius: 30px;
    transition: 1s;

}
.link-button:hover{
    background-color: rgb(19, 70, 121);
}

.link-button2{
    margin-left: 10px;
    padding: 10px 20px;
    color: rgb(10, 102, 194);
    background-color: white;
    border: 1px solid rgb(10, 102, 194) ;
    border-radius: 30px;
    font-weight: bold;
}
.link-button2:hover{
    background-color: rgb(205, 224, 243);
    border-width: 2px;
}

/*2f*/

.amazon-full{
    color: rgb(0, 113, 133);
    text-decoration: underline;
    display: block;
    margin: 10px;
}
.amazon-full{
    color: orange;
}

h1{
    text-transform: capitalize;
    margin: 10px;
    font-weight: 800;
}
.p1{
  color: rgb(0, 118, 0);
 margin: 10px;
}
.p2{
    margin: 10px;
}

.cart{
    background-color: rgb(255, 216, 20);
    padding: 10px 15px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    
}
.cart:hover{
    background-color: rgb(199, 168, 8);
}
.cart:active{
    opacity: 0.5;
    cursor: pointer;
}

.buy{
    background-color: rgb(255,164,28);
    border: none;
    border-radius: 30px;                                             
    padding: 10px 30px;
    cursor: pointer;
}
.buy:hover{
    background-color: rgb(196, 118, 0);
}
.buy:active{
    opacity: 0.5;
}