/*8a*/
.name,
.email{
    font-size: 15px;
    border: 1px solid gray;
    display: block;
    padding-left: 5px;
    margin-top: 5px;
}
/*8b*/


.button{
   
    width: 300px;
    height: 200px;
    display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;

}
.text{
    width: 200px;
 
}
.yes,
.no{
    padding: 8px;
}

/*8c*/
.center{
    height: 300px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.google{
    width: 300px;

}

.google-search{
    border: none;
    box-shadow: 1px 1px 5px rgba(147, 147, 147, 0.838);
    width: 600px;
    padding: 10px ;
    border-radius: 20px;
    font-size: 15px;
}

/*8d*/
.sign-box{
    width: 300px;
    margin-top: 20px;
}
.first-name,
.first-lastname{
    display: inline-block;
    width:110px;
    border: 1px solid rgb(149, 147, 147);
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
}

.sign-email{
    border: 1px solid rgb(149, 147, 147);
    display: block;
    width: 255px;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 15px;
}
.sign{
    width: 285px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 136, 255);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}